body {
    background-color: #3b3a3a; /* Dark gray */
    padding: 20px;
}

#labelSize {
    margin-left: 0px;   
}

#app {
    max-width: 400px;
    margin: 0 auto;
    background-color: #343a40;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#inputGroup {
    background-color: #495057; /* Gray */
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

#sliderStyling {
    background-color: #dee2e6;
    color: #212529; /* Dark gray */
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px;
    width: 100%;
}

#sizeSelection {

    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #545454; /* Light gray */
    color: #212529; /* Dark gray */
}

#inputGroup input[type="text"],
#bgColorSelect,
#codeColorSelect,
#formatSelect {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #dee2e6; /* Light gray */
    color: #212529; /* Dark gray */

}

#buttonsGroup {
    text-align: center;
    background-color: #495057; /* Gray */
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

#buttonGenerate {
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #0056b3;
    background-color: #007bff; /* Blue */
    color: #fff; /* White text */
    cursor: pointer;
    font-weight: bold;

}

#resetButton {
    margin-top: 0px;
    padding: 10px;
    background-color: darkorange;
    color: #fff;
    border: 2px solid #c58100;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

#downloadButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue */
    color: #fff; /* White text */
    cursor: pointer;

}

#downloadButton:hover {
    background-color: #0056b3;
}

#buttonGenerate:hover {
    background-color: #0056b3;
}

#resetButton:hover {
    background-color: #c58100;
}

.generatedQRcode {
    text-align: center;
    margin-top: 20px;
}

.footer {
    width: 100%;
    padding: 10px 0;
    font-weight: bolder;
    color: black;
    font-size: 11px;
}

.github-link {
    display: inline-block;
    vertical-align: middle;
}

.github-logo {
    height: 2em;
    vertical-align: middle;
}

.text {
    display: inline-block;
    vertical-align: middle;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    max-width: 65%;
    vertical-align: middle;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0353e7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0353e7;
    cursor: pointer;
}
